body {
font-family: Courier New;
margin: 0;
background-color: rgb(25,25,25);
}

* {
box-sizing: border-box;
}

h1 {
position: fixed;
text-align: left;
color: white;
background-color: black;
padding: 12px;
right: 0;
top: 0;
left: 0;
margin-top: 0;
}

h2 {
display: none;
}

footer {
position: fixed;
right: 0;
bottom: 0;
left: 0;
padding: 5px;
background-color: black;
text-align: center;
color: white;
font-size: 11px;
}

article {
margin-top: 64px;
}

.column {
float: left;
width: 315px; 
padding: 8px;
}

.modal {
display: none;
position:fixed;
z-index: 1;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.82);  
}

.modal-content {
top: 50px;
position: relative;
background-color: #fefefe;
margin: auto;
width: 90%;
max-width: 1920px;  
}

.close {
color: white;
position: absolute;
top: 7px;
right: 17px;
font-size: 25px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

.mySlides {
display: none;
}

.cursor {
cursor: pointer;
}

.prev,
.next,
.slideShow {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -29px;
color: white;
font-weight: bold;
font-size: 26px;
transition: 0.6s ease;
border-radius: 0 5px 5px 0;
}

.next {
right: 0;
border-radius: 5px 0 0 5px;
}

.slideShow{
top: auto;
bottom: 0;
left: 50%;
margin-left: -29px;
margin-bottom: -1px;
border-radius: 5px 5px 0 0;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 18px;
padding-right: 18px;
}

.prev:hover,
.next:hover,
.slideShow:hover {
background-color: rgba(0, 0, 0, 0.7);
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

img {
margin-bottom: -5px;
margin-top: 0px;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0px 0px 8px 8px rgba(100, 100, 100, 0.5);
}

.imgHeading {
text-align: right;
position:relative;
right: 5%;
color: white;
top: 45px;
font-size:26px;
}

.imgDesc {
color: white;
position: relative;
top: 55px;
width: 300px;
height: auto;
left:5.1%;
font-style: italic;
margin-bottom: 50px;
font-size: 12px;
}

.unselectable {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.failMsg {
color: white;
margin-left: 10px;
margin-top: 75px;
}

